*{
  margin: 0px;
  padding:0px;
  font-family: 'Lato', sans-serif;
  font-family: 'Roboto', sans-serif;
  font-family: 'Work Sans', sans-serif;
}

header{
  background-image: url("./images/banner/banner3.png");
  background-repeat: no-repeat;
  background-size:cover;
  margin-bottom: 140px;
}
.header{
  display: flex;
  flex-direction: column;
  align-items:flex-end;
  padding-right: 100px;
}
.banner-header{
color: #FFF;
font-size: 65px;
margin-top: 216px;
margin-bottom:24px

}
.banner-description{
color: #FFF;
font-size: 16px;
font-weight: 400;
line-height: 26px;
margin-bottom:32px;
}
.btn-1{
  padding:21px 25px 20px 26px;
  color: #005FAC;
  font-size: 20px;
  margin-bottom: 186px;
  border-radius: 5px;
  border:none;
  font-weight: 600;
}


.main-content{
  display: flex;
  margin-left: 200px;
  margin-right: 200px;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 150px;
}

.header-titel{
color: #151414;
font-size: 40px;
line-height: normal;
margin-bottom: 24px;
font-weight: 700;
}
.sec-para{
color: #444343;
font-size: 16px;
line-height: 26px; 
margin-bottom: 16px;
}
li{
  list-style:none; 
 
 
}
i{
  color: #16d887;
}
.logo-container{
  display: flex;
  justify-content: space-between;
  margin-left: 200px;
  margin-right: 200px;
}
.my-plan{
  color: #151414;
text-align: center;
font-size: 40px;
margin-bottom: 50px;

}
.column{
  display: flex;
  flex-direction: column;
 
  align-items: center;
} 

.dev{
color:#151414;
font-size: 30px;
margin-top: 24px;

}
.wish{
  color: #737272;
font-size: 25px;
margin-top:16px ;
margin-bottom: 135px;
}

.my-sec{
  background-image:linear-gradient(90deg, #005FAC 0%, rgba(0, 95, 172, 0.00) 100%), url("./images/watch.png");
  
  background-repeat: no-repeat;
  object-position: center;
  margin-bottom: 130px;
  background-size:cover;
  margin-left: 200px;
  margin-right: 200px;
  border-radius: 8px;

}
.positive-mindset{
  padding:60px 0px 24px 65px;
  color: #FFF;
font-size: 40px;

}

.btn-2{
  color: #005FAC;
  font-size: 20px;
  padding:20px 36px ;
  margin-left:65px ;margin-bottom:59px ;
  font-weight: 600;
  border: none;
  border-radius: 5px;
}
.future{
  display: flex;
  background-color: black;
  justify-content:space-between;
  padding-top: 130px;
   padding-right: 100px;

  
}
.column-2{
  display: flex;
  flex-direction: column;
  row-gap: 32px;
  margin-left: 100px;
  
  margin-bottom: 130px;
}
.footer-title{
color: #F8F8F8;
font-size: 45px;
margin-bottom: 16px;

}
.footer-des{
color: #FFF;
font-size: 16px;
line-height: 26px;
margin-bottom: 24px;

}
#email{
margin-bottom:16px ;
}
#sbscribe{
color: #FFF;
margin-bottom: 31px;
font-size: 25px;

}
input{
  
  background-color:black;
  border-width: 1px;
  border-style: solid;
  border-radius: 8px;
  margin-bottom: 16px;
  font-size: 18px;
  padding:21px 158px 21px 20px;
  



}
.subscribe-btn{
  padding:20px 36px ;
  color: #FFF;

font-size: 20px;
border-radius: 8px;
background: #005FAC;
border: none;

}
#subscribe{
color: #FFF;
font-size: 25px;
font-weight: 600;
margin-bottom:31px;
padding: ;

}
::placeholder{
color: #F3F3F3;
font-size: 18px;
}
.subscribe-btn{
border-radius: 8px;
background: #005FAC;
color: #FFF;
font-size: 20px;
font-weight: 600;


}
.social{
  display: flex;
  gap: 15px;
}